{% extends '../modal.html' %}{% load i18n %}

{% block dialog_add_class %}modal-lg{% endblock %}

{% block title %}
<% if (object.id) { %>
    <span class="change">{% block title_change %}...{% endblock %}</span>
<% } else { %>
    <span class="add">{% block title_add %}...{% endblock %}</span>
<% } %>
{% endblock %}

{% block body %}
<form action="{% block api_url %}{% endblock %}<%- object.id ? (object.id + '/') : '' %>">
    {% csrf_token %}
<% if (object.id) { %>
    <input type="hidden" name="id" value="<%- object.id %>">
<% } %>
    <div class="form-group">
        <label>{% trans 'Название' %}</label>
        <input type="text" class="form-control" name="name" \
            placeholder="{% trans 'Заполните название' %}" required \
            value="<%- object.name %>">
    </div>
    <div class="form-group">
        <label>{% trans 'Описание' %}</label>
        <textarea type="text" class="form-control" name="description" \
            placeholder="{% trans 'Заполните описание' %}" \
            ><%- object.description %></textarea>
    </div>
    {% block other_fields %}{% endblock %}
</form>
{% endblock %}

{% block footer %}
{{ block.super }}
<button type="button" class="btn btn-primary apply">
<% if (object.id) { %>
    <span class="change">{% trans 'Сохранить изменения' %}</span>
<% } else { %>
    <span class="add">{% trans 'Добавить' %}</span>
<% } %>
</button>
{% endblock %}
