{% load proplan_models %}
{% get_stage_statuses as statuses %}
<% 
var statuses = {
{% for code, text in statuses %}"{{ code|escapejs }}": "{{ text|escapejs }}",{% endfor %}
}
%>
<tr>
    <td><%- object.id %></td>
    <td>
        <a href="#" data-id="<%- object.id %>" class="open-stage">
            <%- object.name %>
        </a>
    </td>
    <td><%- object.description %></td>
    <td><%- statuses[String(object.status)] %></td>
    <td>
        <% if (object.is_abs) { %>
            <i class="fa fa-check text-danger"></i>
        <% } %>
    </td>
</tr>
