<tr>
    <td><%- object.id %></td>
    <td>
        <a href="#" data-id="<%- object.id %>" class="open-subproject">
            <%- object.name %>
        </a>
    </td>
    <td><%- object.description %></td>
</tr>
