<tr>
    <td><%- object.id %></td>
    <td>
        <a href="#" data-id="<%- object.id %>" class="open-role">
            <%- object.name %>
        </a>
    </td>
    <td><%- object.description %></td>
    <td>
        <% _.each(object.users, function(u) { %>
            <span class="mr-1"><%- u[1] %></span>
        <% }) %>
    </td>
    <td>
        <% _.each(object.permissions, function(p) { %>
            <span class="mr-1"><%- p[1] %></span>
        <% }) %>
    </td>
</tr>
