{% extends '../modal.html' %}{% load i18n %}

{% block dialog_add_class %}modal-lg{% endblock %}

{% block title %}
<% if (object.id) { %>
    <span class="change">{% trans 'Изменить версию' %}</span>
<% } else { %>
    <span class="add">{% trans 'Добавить версию' %}</span>
<% } %>
{% endblock %}

{% block body %}
<form action="{% url 'proplan:api:versions' %}<%- object.id ? (object.id + '/') : '' %>">
    {% csrf_token %}
<% if (object.id) { %>
    <input type="hidden" name="id" value="<%- object.id %>">
<% } %>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>{% trans 'Мажорная' %}</label>
                <input type="text" class="form-control" name="major" required \
                    value="<%- object.major || '0' %>">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>{% trans 'Минорная' %}</label>
                <input type="text" class="form-control" name="minor" required \
                    value="<%- object.minor || (object.major ? '0' : '1') %>">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>{% trans 'Багфикс' %}</label>
                <input type="text" class="form-control" name="bugfix" \
                    placeholder="{% trans 'строка до 16 символов' %}" \
                    value="<%- object.bugfix || '' %>">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">  
            <div class="form-group">
                <label>{% trans 'Планируемая дата' %}</label>
                <input type="text" class="form-control" name="planned_date" \
                    id="id_planned_date" \
                    placeholder="YYYY-MM-DD hh:mmZ" \
                    value="<%- object.planned_date ? moment(object.planned_date).format('YYYY-MM-DD HH:mmZ') : '' %>">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{% trans 'Дата выхода' %}</label>
                <input type="text" class="form-control" name="release_date" \
                    id="id_release_date" \
                    placeholder="YYYY-MM-DD hh:mmZ" \
                    value="<%- object.release_date ? moment(object.release_date).format('YYYY-MM-DD HH:mmZ') : '' %>">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{% trans 'Описание' %}</label>
        <textarea type="text" class="form-control" name="description" \
            placeholder="{% trans 'Заполните описание' %}" \
            ><%- object.description %></textarea>
    </div>
</form>
{% endblock %}

{% block footer %}
{{ block.super }}
<button type="button" class="btn btn-primary apply">
<% if (object.id) { %>
    <span class="change">{% trans 'Сохранить изменения' %}</span>
<% } else { %>
    <span class="add">{% trans 'Добавить' %}</span>
<% } %>
</button>
{% endblock %}
