{% load i18n proplan_colors %}

<div class="card border-default mb-3">
    <div class="card-body p-2">
        <h5 class="card-title mb-0">{{ executor.get_full_name }}</h5>
        <p class="card-subtitle text-muted">
            <small class="timesince">{{ executor.start.isoformat }}</small>
            <small class="timesince ml-1">{{ executor.stop.isoformat }}</small>
        </p>
        <p class="card-text">{{ executor }}</p>
    </div>
</div>
