{% load i18n proplan_nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow p-0">
    <div class="d-none d-xl-block col-xl-2 mr-0">
        <a class="navbar-brand" \
           href="{% url 'proplan:index' %}">{% trans 'План проекта' %}</a>
    </div>
    <a class="navbar-brand d-xl-none mx-2" \
       href="{% url 'proplan:index' %}">{% trans 'План проекта' %}</a>
    <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" \
            data-target="#navbarContent" aria-controls="navbarContent" \
            aria-expanded="false" aria-label="{% trans 'Переключение навигации' %}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <form class="form-inline w-100" action="{% url 'proplan:search' %}">
            <input class="form-control form-control-dark w-100" \
                   type="text" placeholder="{% trans 'Поиск' %}" \
                   aria-label="{% trans 'Поиск' %}" \
                   name="q" autofocus \
                   onfocus="this.setSelectionRange(this.value.length, this.value.length)" \
                   value="{{ request.GET.q }}">
        </form>
        <ul class="navbar-nav px-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" \
                   id="navbarDropdownHistory" role="button" \
                   data-toggle="dropdown" aria-haspopup="true" \
                   aria-expanded="false">
                    <span>{% trans 'История' %}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownHistory">
                    <a class="dropdown-item {% active request 'proplan:versions' %}" \
                       href="{% url 'proplan:versions' %}">
                        <span class="fa fa-fw fa-code-fork"></span>
                        <span class="ml-1">{% trans 'Версии' %}</span>
                    </a>
                    <a class="dropdown-item {% active request 'proplan:tasks' %}" \
                       href="{% url 'proplan:tasks' %}">
                        <span class="fa fa-fw fa-tasks"></span>
                        <span class="ml-1">{% trans 'Задачи' %}</span>
                    </a>
                    <a class="dropdown-item {% active request 'proplan:comments' %}" \
                       href="{% url 'proplan:comments' %}">
                        <span class="fa fa-fw fa-comments-o"></span>
                        <span class="ml-1">{% trans 'Комментарии' %}</span>
                    </a>
                    <a class="dropdown-item {% active request 'proplan:attachments' %}" \
                       href="{% url 'proplan:attachments' %}">
                        <span class="fa fa-fw fa-folder-open-o"></span>
                        <span class="ml-1">{% trans 'Вложения' %}</span>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" \
                   id="navbarDropdownSettings" role="button" \
                   data-toggle="dropdown" aria-haspopup="true" \
                   aria-expanded="false">
                    <span>{% trans 'Настройки' %}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSettings">
                    <a class="dropdown-item {% active request 'proplan:profile' %}" \
                       href="{% url 'proplan:profile' %}">
                        <span class="fa fa-fw fa-user"></span>
                        <span class="ml-1">{% trans 'Профиль' %}</span>
                    </a>
                    <a class="dropdown-item {% active request 'proplan:configuration' %}" \
                       href="{% url 'proplan:configuration' %}">
                        <span class="fa fa-fw fa-cogs"></span>
                        <span class="ml-1">{% trans 'Конфигурация' %}</span>
                    </a>
                </div>
            </li>
            <li class="nav-item text-nowrap">
            {% if user.is_authenticated %}
                <a href="{{ LOGOUT_URL }}" \
                   class="nav-link">{% trans 'Выйти' %}</a>
            {% else %}
                <a href="{{ LOGIN_URL }}" \
                   class="nav-link">{% trans 'Войти' %}</a>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>
