{% load i18n proplan_nav %}
<nav class="col-md-1 col-xl-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% active request 'proplan:console' %}" \
                   href="{% url 'proplan:console' %}">
                    <span class="fa fa-fw fa-th-large"></span>
                    <span class="ml-1 d-none d-xl-inline">{% trans 'Панель управления' %}</span>
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-none d-xl-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
            <span>{% trans 'История' %}</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link {% active request 'proplan:versions' %}" \
                   href="{% url 'proplan:versions' %}">
                    <span class="fa fa-fw fa-code-fork"></span>
                    <span class="ml-1 d-none d-xl-inline">{% trans 'Версии' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active request 'proplan:tasks' %}" \
                   href="{% url 'proplan:tasks' %}">
                    <span class="fa fa-fw fa-tasks"></span>
                    <span class="ml-1 d-none d-xl-inline">{% trans 'Задачи' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active request 'proplan:comments' %}" \
                   href="{% url 'proplan:comments' %}">
                    <span class="fa fa-fw fa-comments-o"></span>
                    <span class="ml-1 d-none d-xl-inline">{% trans 'Комментарии' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active request 'proplan:attachments' %}" \
                   href="{% url 'proplan:attachments' %}">
                    <span class="fa fa-fw fa-folder-open-o"></span>
                    <span class="ml-1 d-none d-xl-inline">{% trans 'Вложения' %}</span>
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-none d-xl-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
            <span>{% trans 'Настройки' %}</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link {% active request 'proplan:profile' %}" \
                   href="{% url 'proplan:profile' %}">
                    <span class="fa fa-fw fa-user"></span>
                    <span class="ml-1 d-none d-xl-inline">{% trans 'Профиль' %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active request 'proplan:configuration' %}" \
                   href="{% url 'proplan:configuration' %}">
                    <span class="fa fa-fw fa-cogs"></span>
                    <span class="ml-1 d-none d-xl-inline">{% trans 'Конфигурация' %}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
