{% load i18n %}
<ul>
{% for name, prev, next in changes %}
{% if prev is None %}
    <li>{% blocktrans trimmed with name|capfirst as tname %}
        Поле <b>"{{ tname }}"</b> изменено с пустого значения на <i>"{{ next }}".</i>
    {% endblocktrans %}</li>
{% elif next is None %}
    <li>{% blocktrans trimmed with name|capfirst as tname %}
        Поле <b>"{{ tname }}"</b> изменено с <i>"{{ prev }}"</i> на пустое значение.</i>
    {% endblocktrans %}</li>
{% else %}
    <li>{% blocktrans trimmed with name|capfirst as tname %}
        Поле <b>"{{ tname }}"</b> изменено с <i>"{{ prev }}"</i> на <i>"{{ next }}".</i>
    {% endblocktrans %}</li>
{% endif %}
{% endfor %}
</ul>
