{% load i18n proplan_colors proplan_models %}

{% url 'proplan:task' task.id as task_url %}
<div id="task-{{ task.id }}" class="card task border-{{ task|task_color }} mb-3">
    <div class="card-body p-2 text-center">
        <div class="float-left text-{{ task.version|version_color }} w-0">
            <small>{{ task.version|default:'x.x.x' }}</small>
        </div>
        <h5 class="card-title mb-0">
            <a href="{{ task_url }}">
                <span>{{ task.tracker|title }} #{{ task.id }}</span>
            </a>
        </h5>
        <p class="card-subtitle text-muted">
            <small class="timesince mr-1">{{ task.updated.isoformat }}</small>
            <small class="text-{{ task.stage|stage_color }}" \
                >{{ task.stage }}</small>
        </p>
        <p class="card-text overflow-hidden mb-0">{{ task.title }}</p>
        <p class="m-0">
            <small class="badge badge-{{ task.priority|priority_color }} mr-1">
                <span>{{ task.get_priority_display }}</span>
            </small>
        </p>
        <p class="mb-2">
            <small class="badge badge-{{ task.deadline|deadline_color }}">
                <span>{% trans 'Крайний срок' %}: </span>
                <span class="timesince">{{ task.deadline.isoformat }}</span>
            </small>
        </p>
        <div class="d-flex">
            <a href="{{ task_url }}" class="btn btn-sm btn-link flex-fill">{% trans 'обсуждение' %}</a>
            <button type="button" data-toggle="collapse" \
                class="btn btn-sm btn-link flex-fill" \
                data-target="#collapseExecutors-{{ task.id }}" \
                aria-expanded="false" \
                aria-controls="collapseExecutors-{{ task.id }}" \
                >{% trans 'учет времени' %} \
            </button>
        </div>
        {% with task|get_user_executors:user as executors %}
        <div id="collapseExecutors-{{ task.id }}" class="collapse executors {{ executors|executors_any_exec|yesno:'show,' }}">
            <div class="card card-body p-1">
            {% for e in executors %}
                <button class="btn btn-outline-secondary btn-block child-active {{ e.is_current|yesno:'active,' }}" \
                    data-stop_url="{% url 'proplan:api:stop' id=e.id %}" \
                    data-start_url="{% url 'proplan:api:start' id=e.id %}" \
                    data-id="{{ e.id }}" data-task_id="{{ task.id }}">
                    <div class="float-left w-0">
                        <span class="fa fa-pause fa-fw text-danger child-active-show"></span>
                        <span class="fa fa-play fa-fw text-success child-active-hide"></span>
                    </div>
                    <span class="child-active-show"><b>{{ e.get_role_name }} {% trans 'работает' %}</b></span>
                    <span class="child-active-hide"><b>{{ e.get_role_name }} </b></span>
                </button>
            {% endfor %}
                <p class="badge badge-light mt-2 mb-2">
                    <span>{% trans 'отработано' %}: </span>
                    <span id="task-time-work-{{ task.id }}" class="duration" \
                        data-seconds="{{ executors|executors_time_work|stringformat:'s' }}"></span>
                </p>
            </div>
        </div>
        {% endwith %}
    </div>
</div>
