{% extends './base.html' %}
{% load i18n proplan_bootstrap4 proplan_html %}

{% block body_class %}login mt-5{% endblock %}

{% block body %}{% newlineless %}{% spaceless %}
<div class="container">
    {% block login_place %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <a href="{% url 'proplan:index' %}">
                <img src="{{ STATIC_PREFIX }}proplan/img/logo.png" \
                     class="img-fluid" \
                     alt="{% trans 'План проекта' %}">
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        {% block content_row %}
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card p-2">
                <div class="text-center text-light">
                    <h3>{% trans "Войдите в свой аккаунт." %}</h3>
                </div>
                <form class="form p-2" role="form" method="post">
                    <input type="hidden" name="next" value="{{ next|escape }}" />
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    {% for field in form.visible_fields %}{{ field|form_group }}{% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-user-o" aria-hidden="true"></i> \
                        {% trans 'Войти' %} \
                    </button>
                </form>
            </div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endspaceless %}{% endnewlineless %}{% endblock %}

{# clean JS. #}
{% block global_vars_javascript %}{% endblock %}
{% block site_javascript %}{% endblock %}
{% block page_javascript %}{% endblock %}
{% block javascript_templates %}{% endblock %}
