{% extends './login.html' %}
{% load i18n %}

{% block content_row %}
<div class="col-4">
    <div class="card py-5 px-2">
        <div class="text-center">
            <h3 class="text-light">{% trans "Спасибо за работу." %}</h3>
            <h4 class="text-warning">{% trans "Возращайтесь скорее!" %}</h4>
            <a href="{{ LOGIN_URL }}" class="btn btn-danger">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <span> {% trans 'Войти снова' %}</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
