{% extends './base.html'%}
{% load i18n proplan_bootstrap4 %}

{% block body_class %}profile{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Форма изменения пароля' %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'proplan:profile' %}" class="btn btn-sm btn-outline-secondary">
                <span>{% trans 'перейти в профиль' %}</span>
            </a>
        </div>
    </div>
</div>

<form class="form p-2" role="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="next" value="{{ next|escape }}" />
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}{{ field|form_group }}{% endfor %}
    <button type="submit" class="btn btn-dark btn-block">
        <i class="fa fa-save" aria-hidden="true"></i> \
        {% trans 'Обновить пароль' %} \
    </button>
</form>
{% endblock %}
