{% extends './base.html'%}
{% load i18n proplan_html %}

{% block body_class %}search{% endblock %}

{% block content %}{% newlineless %}{% spaceless %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Результаты поиска' %}</h1>
</div>

<h2>{% trans 'Задачи' %}</h2>
<section class="mb-3">
{% for task in tasks %}
    <p class="search-result">
        <a href="{% url 'proplan:task' task.id %}">{{ task.title }}</a>
        <br>
        <span class="pl-4">{{ task.description|truncatewords:25 }}</span>
    </p>
{% empty %}
    <p>{% trans 'не найдены' %}</p>
{% endfor %}
{% if tasks_other %}
    <p class="text-info">{% blocktrans trimmed count other=tasks_other %}
    Найдена ещё {{ other }} задача.
    {% plural %}
    Найдено {{ other }} других задач.
    {% endblocktrans %}</p>
{% endif %}
</section>

<h2>{% trans 'Комментарии' %}</h2>
<section class="mb-3">
{% for comment in comments %}
    <p class="search-result">
        <a href="{% url 'proplan:task' comment.task_id %}#comment-{{ comment.id }}">{{ comment.task.title }}</a>
        <br>
        <span class="pl-4">{{ comment.message|truncatewords:25 }}</span>
    </p>
{% empty %}
    <p>{% trans 'не найдены' %}</p>
{% endfor %}
{% if comments_other %}
    <p class="text-info">{% blocktrans trimmed count other=comments_other %}
    Найден ещё {{ other }} комментарий.
    {% plural %}
    Найдено {{ other }} других комментариев.
    {% endblocktrans %}</p>
{% endif %}
</section>

{% endspaceless %}{% endnewlineless %}{% endblock %}
