{% extends './base.html'%}
{% load i18n proplan_html proplan_bootstrap4 %}

{% block body_class %}tasks task{% endblock %}

{% block content %}{% newlineless %}{% spaceless %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
{% if task %}
    <h1 class="h2">{% trans 'Изменить задачу' %} #{{ task.id }}</h1>
{% else %}
    <h1 class="h2">{% trans 'Добавить задачу' %}</h1>
{% endif %}

    <div class="btn-toolbar mb-2 mb-md-0">
    {% if task %}
        <div class="btn-group mr-2">
            <a href="{% url 'proplan:task' id=task.id %}" class="btn btn-sm btn-outline-secondary">
                <span class="fa fa-remove"></span>
                <span class="ml-1">{% trans 'закрыть форму' %}</span>
            </a>
        </div>
    {% endif %}
        <div class="btn-group mr-2">
            <a href="{% url 'proplan:tasks' %}" class="btn btn-sm btn-outline-secondary">
                <span class="fa fa-list"></span>
                <span class="ml-1">{% trans 'все задачи' %}</span>
            </a>
        </div>
    </div>
</div>

<form class="form p-2" role="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="next" value="{{ next|escape }}" />
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="row">
        <div class="col-sm-6">{{ form.title|form_group }}</div>
        <div class="col-sm-2">{{ form.tracker|form_group }}</div>
        <div class="col-sm-2">{{ form.stage|form_group }}</div>
        <div class="col-sm-2">{{ form.priority|form_group }}</div>
        <div class="col-sm-8">{{ form.description|form_group }}</div>
        <div class="col-sm-4">{{ form.attachments|form_group }}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">{{ form.parent|form_group }}</div>
        <div class="col-sm-3">{{ form.leader|form_group }}</div>
        <div class="col-sm-3">{{ form.subproject|form_group }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">{{ form.version|form_group }}</div>
        <div class="col-sm-3">{{ form.planned_start|form_group }}</div>
        <div class="col-sm-2">{{ form.planned_days|form_group }}</div>
        <div class="col-sm-2">{{ form.planned_hours|form_group }}</div>
        <div class="col-sm-2">{{ form.planned_minutes|form_group }}</div>
    </div>
{% if form.comment %}
    {{ form.comment|form_group }}
{% endif%}
    <button type="submit" class="btn btn-dark">
        <i class="fa fa-save" aria-hidden="true"></i> \
    {% if task %}
        {% trans 'Сохранить изменения' %} \
    {% else %}
        {% trans 'Добавить задачу' %} \
    {% endif%}
    </button>
</form>

{% endspaceless %}{% endnewlineless %}{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}libs/daterangepicker/3.0.5/daterangepicker.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}libs/selectize/0.12.6/css/selectize.bootstrap4.css">
{% endblock %}

{% block page_javascript %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}libs/daterangepicker/3.0.5/daterangepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}libs/selectize/0.12.6/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}proplan/js/selectizer.js?v={{ VERSION }}"></script>
{% newlineless_javascript %}
<script type="text/javascript">
$(document).ready(function($) {
    var lang = $('html').attr('lang');
    moment.updateLocale(lang, {});
    $('#id_planned_start')
        .attr('autocomplete', 'off')
        .daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            timePicker: true,
            timePicker24Hour: true,
            locale: {
                format: 'YYYY-MM-DD HH:mmZ',
            },
            drops: "up",
            minDate: moment(),
        })
        .on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD HH:mmZ'));
        });
})
</script>
{% endnewlineless_javascript %}
{% endblock %}
