{% extends './base.html'%}
{% load i18n proplan_html proplan_bootstrap4 proplan_time %}

{% block body_class %}tasks task{% endblock %}

{% block content %}{% newlineless %}{% spaceless %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ task.tracker|title }} #{{ task.id }} <small>{{ task.subproject|default:''  }}</small></h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <a href="{% url 'proplan:change_task' id=task.id %}" class="btn btn-sm btn-outline-secondary add-task">
                <span class="fa fa-edit"></span>
                <span class="ml-1">{% trans 'изменить задачу' %}</span>
            </a>
        </div>
        <div class="btn-group">
            <a href="{% url 'proplan:tasks' %}" class="btn btn-sm btn-outline-secondary">
                <span class="fa fa-list"></span>
                <span class="ml-1">{% trans 'другие задачи' %}</span>
            </a>
        </div>
    </div>
</div>

<h2 class="h3">{{ task.title }}</h2>

<div class="card mb-2">
    <div class="card-body">
        <p>
            <span>{% trans 'Добавил(а)' %} {{ task.author.get_full_name|default:task.author }} </span>
            <span><span class="text-lowercase timesince">{{ task.created.isoformat }}</span>.</span>
        </p>

        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-md-4 text-md-right">{% trans 'Стадия' %}:</dt>
                    <dd class="col-md-8">{{ task.stage }}</dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Приоритет' %}:</dt>
                    <dd class="col-md-8">{{ task.get_priority_display }}</dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Род. задача' %}:</dt>
                    <dd class="col-md-8">{{ task.parent.id|default:'---' }}</dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Версия' %}:</dt>
                    <dd class="col-md-8">{{ task.version|default:'x.x.x' }}</dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Отв. за версию' %}:</dt>
                    <dd class="col-md-8">{{ task.get_master_full_name  }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-md-4 text-md-right">{% trans 'Начало работ' %}:</dt>
                    <dd class="col-md-8 {{ task.start|yesno:'isoformat,' }}">{{ task.start.isoformat|default:'---' }}</dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Окончание работ' %}:</dt>
                    <dd class="col-md-8 {{ task.stop|yesno:'isoformat,' }}">{{ task.stop.isoformat|default:'---' }}</dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Трудозатраты' %}:</dt>
                    <dd class="col-md-8">{{ task.planned_time|default:'---' }}</dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Крайний срок' %}:</dt>
                    <dd class="col-md-8">
                        <span class="{{ task.deadline|yesno:'timesince,' }}">{{ task.deadline.isoformat|default:'---' }}</span>
                    {% if task.deadline_profit is None %}
                    {% elif task.deadline_profit > 0 %}
                        <span class="text-success ml-1">{{ task.deadline_profit|timeprofit }}</span>
                    {% elif task.deadline_profit < 0 %}
                        <span class="text-danger ml-1">{{ task.deadline_profit|timeprofit }}</span>
                    {% endif %}
                    </dd>
                    <dt class="col-md-4 text-md-right">{% trans 'Отв. за задачу' %}:</dt>
                    <dd class="col-md-8">{{ task.get_leader_full_name }}</dd>
                </dl>
            </div>
        </div>

        <hr>
        <p><b>{% trans 'Исполнители' %}</b></p>
        <div class="row">
        {% for executor in executors %}
            <div class="col-lg-6 col-xl-4">
                {% include './_executor_card.html' %}
            </div>
        {% empty %}
            <div class="col-sm-12">
                <p class="text-danger"><strong>{% trans 'нет исполнителей' %}</strong></p>
            </div>
        {% endfor %}
        </div>

    {% if task.description %}
        <hr>
        <p><b>{% trans 'Описание' %}</b></p>
        <div>{{ task.description|markdown:markdown_code_style|safe }}</div>
    {% endif %}

    {% if task.sorted_attachments %}
        <hr>
        <p><b>{% trans 'Вложения' %}</b></p>
        <div class="row">
        {% for attachment in task.sorted_attachments %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <a href="{{ attachment.url }}" _target="blank">{{ attachment }}</a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
    
    <div class="card-footer">
        
    </div>
</div>

<h3 class="h4">{% trans 'История' %}</h2>
{% for comment in task.comments %}
<div id="comment-{{ comment.id }}" class="comment mb-2">
    <h4 class="h6 border-bottom border-secondary">
        <a href="#comment-{{ comment.id }}" class="pull-right">#{{ comment.id }}</a> \
        {% trans 'Обновил(а)' %} \
        <a href="#">{{ comment.user.get_full_name|default:comment.user }}</a> \
        <span title="{{ comment.updated.isoformat }}"> \
            {{ comment.updated|timesince }} \
            {% trans 'назад' %} \
        </span>
    </h4>
    <div class="btn-group pull-right">
        <button class="btn btn-sm btn-outline-secondary comment-reply" data-id="{{ comment.id }}">
            <span class="fa fa-reply"></span>
        </button>
        <button class="btn btn-sm btn-outline-secondary comment-edit" data-id="{{ comment.id }}">
            <span class="fa fa-edit"></span>
        </button>
    </div>
    <div class="changes">{{ comment.changes_as_html|safe }}</div>
    <div class="message">{{ comment.message|markdown:markdown_code_style|safe }}</div>
    <div class="attachments">
    {% for a in comment.attachments.all %}
        <div class="attachment">{{ a }}</div>
    {% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
{% endfor %}

<form class="form p-2" role="form" method="post" enctype="multipart/form-data" \
    action="{% url 'proplan:api:comments' %}">
    <input type="hidden" name="next" value="{{ request.path|escape }}" />
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}{{ field|form_group }}{% endfor %}
    <button type="submit" class="btn btn-dark btn-block">
        <i class="fa fa-save" aria-hidden="true"></i> \
        {% trans 'Добавить комментарий' %} \
    </button>
</form>

{% endspaceless %}{% endnewlineless %}{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}libs/daterangepicker/3.0.5/daterangepicker.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}libs/selectize/0.12.6/css/selectize.bootstrap4.css">
{% endblock %}

{% block page_javascript %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}libs/daterangepicker/3.0.5/daterangepicker.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}libs/selectize/0.12.6/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}proplan/js/selectizer.js?v={{ VERSION }}"></script>
{% newlineless_javascript %}
<script type="text/javascript">
$(document).ready(function($) {
    moment.updateLocale($('html').attr('lang'), {});
    $('.isoformat').each(function(i, item) {
        var $obj = $(item);
        $obj.text(moment($obj.text()).format('L LT')).removeClass('isoformat')
    });
    $('.timesince').each(function(i, item) {
        var $obj = $(item);
        $obj.text(moment($obj.text()).calendar()).removeClass('timesince')
    });
})
</script>
{% endnewlineless_javascript %}
{% endblock %}
