{% extends './base.html'%}
{% load i18n proplan_nav proplan_html %}

{% block body_class %}tasks{% endblock %}

{% block content %}
{% url 'proplan:tasks' as path %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Задачи' %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <a href="{% url 'proplan:add_task' %}" class="btn btn-sm btn-outline-secondary add-task">
                <span class="fa fa-plus"></span>
                <span class="ml-1">{% trans 'добавить задачу' %}</span>
            </a>
        </div>

        <div class="btn-group ml-2">
            <a href="{{ path }}{% delparams request 'author_id' %}" class="btn btn-sm btn-outline-secondary {% if not filters.author_id %}active{% endif %}">{% trans 'все' %}</a>
            <a href="{{ path }}{% addparams request author_id=user.id %}" class="btn btn-sm btn-outline-secondary {% if filters.author_id == user.id|stringformat:'s' %}active{% endif %}">{% trans 'свои' %}</a>
        </div>

        <div class="dropdown ml-2">
            <button type="button" id="dropdownMenuCreated" data-toggle="dropdown" \
                aria-haspopup="true" aria-expanded="false" \
                class="btn btn-sm btn-outline-secondary ml-2 dropdown-toggle \
                {% if filters.created__lt %}active{% endif %}">
                <span class="fa fa-calendar"></span>
                <span class="ml-1"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuCreated">
                <a href="{{ path }}{% delparams request 'created__lt' %}" class="dropdown-item {% if not filters.created__lt %}active{% endif %}">{% trans 'На сейчас' %}</a>
                <a href="{{ path }}{% addparams request created__lt=week_0 %}" class="dropdown-item {% if filters.created__lt == week_0 %}active{% endif %}">{% trans '1 неделю назад' %}</a>
                <a href="{{ path }}{% addparams request created__lt=week_1 %}" class="dropdown-item {% if filters.created__lt == week_1 %}active{% endif %}">{% trans '2 недели назад' %}</a>
                <a href="{{ path }}{% addparams request created__lt=week_2 %}" class="dropdown-item {% if filters.created__lt == week_2 %}active{% endif %}">{% trans '3 недели назад' %}</a>
                <a href="{{ path }}{% addparams request created__lt=month_0 %}" class="dropdown-item {% if filters.created__lt == month_0 %}active{% endif %}">{% trans '1 месяц назад' %}</a>
                <a href="{{ path }}{% addparams request created__lt=month_1 %}" class="dropdown-item {% if filters.created__lt == month_1 %}active{% endif %}">{% trans '2 месяца назад' %}</a>
                <a href="{{ path }}{% addparams request created__lt=month_2 %}" class="dropdown-item {% if filters.created__lt == month_2 %}active{% endif %}">{% trans '3 месяца назад' %}</a>
            </div>
        </div>

        <div class="dropdown ml-2">
            <button type="button" id="dropdownMenuSubprojects" \
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" \
                class="btn btn-sm btn-outline-secondary dropdown-toggle \
                {% if 'subproject' in filters %}active{% endif %}">
                <span class="fa fa-hashtag"></span>
            {% if subproject %}
                <span class="ml-1">{{ subproject }}</span>
            {% elif 'subproject' in filters and filters.subproject is None %}
                <span class="ml-1">{% trans 'Без подпроектов' %}</span>
            {% else %}
                <span class="ml-1">{% trans 'С подпроектами' %}</span>
            {% endif %}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuSubprojects">
                <a href="{{ path }}{% delparams request 'subproject' %}" class="dropdown-item {% if 'subproject' not in filters %}active{% endif %}">{% trans 'С подпроектами' %}</a>
                <a href="{{ path }}{% addparams request subproject='null' %}" class="dropdown-item {% if 'subproject' in filters and filters.subproject is None %}active{% endif %}">{% trans 'Без подпроектов' %}</a>
            {% for sub in subprojects %}
                <a href="{{ path }}{% addparams request subproject=sub.id %}" class="dropdown-item {% if filters.subproject == sub.id %}active{% endif %}">{{ sub }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>


<table class="table mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>ID</th>
            <th>{{ _('Название') }} / <br>{{ _('Описание') }}</th>
            <th>{{ _('Приоритет') }}</th>
            <th>{{ _('Трекер') }} / {{ _('Стадия') }}</th>
            <th class="text-right">{{ _('Изменений') }} / {{ _('Комментариев') }}</th>
        </tr>
    </thead>
    <tbody id="tasks">
    {% for task in page.object_list %}
        <tr>
            <td>{{ task.id }}</td>
            <td>
                <a href="{% url 'proplan:task' task.id %}">{{ task.title }}</a>
                <p class="pl-4 mb-0">{{ task.description|markdown|striptags|truncatewords:25 }}</p>
            </td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.tracker }}<br>{{ task.stage }}</td>
            <td class="text-right">{{ task.num_changes }}/{{ task.num_comments }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">
                <p class="text-danger mb-0"><strong>{% trans 'задачи не найдены' %}</strong></p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% if page.object_list %}
    <tfoot>
        <tr>
            <td colspan="5" class="pr-0">{% include './_table_pagination.html' %}</td>
        </tr>
    </tfoot>
{% endif %}
</table>

{% endblock %}
