{% extends './base.html'%}
{% load i18n proplan_nav proplan_html %}

{% block body_class %}versions{% endblock %}

{% block content %}
{% url 'proplan:versions' as path %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans 'Версии' %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{{ path }}{% delparams request 'planned_date__isnull' 'release_date__isnull' %}" class="btn btn-sm btn-outline-secondary {% if not filters.planned_date__isnull and not filters.release_date__isnull %}active{% endif %}">{% trans 'все' %}</a>
            <a href="{{ path }}{% toggleparams request planned_date__isnull='true' %}" class="btn btn-sm btn-outline-secondary {% if filters.planned_date__isnull %}active{% endif %}">{% trans 'без даты' %}</a>
            <a href="{{ path }}{% toggleparams request release_date__isnull='true' %}" class="btn btn-sm btn-outline-secondary {% if filters.release_date__isnull %}active{% endif %}">{% trans 'не вышли' %}</a>
        </div>
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary open-version">
                <span class="fa fa-plus"></span>
                <span class="ml-1">{% trans 'добавить версию' %}</span>
            </button>
        </div>
    </div>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>

<table class="table table-striped mb-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>{% trans 'Версия' %}</th>
            <th>{% trans 'Описание' %}</th>
            <th>{% trans 'Ответственный' %}</th>
            <th>{% trans 'Дата' %}</th>
            <th>{% trans 'Релиз' %}</th>
            <th title="{% trans 'завершённых / отклонённых / открытых / процент' %}">{% trans 'Готовность' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for v in page.object_list %}
        <tr class="{{ v.release_date|yesno:'success,' }}">
            <td>
                <button type="button" class="btn btn-sm btn-link p-0 open-version" data-id="{{ v.id }}">
                    <span>{{ v }}</span>
                </button>
            </td>
            <td>{{ v.description }}</td>
            <td>{{ v.get_master_full_name }}</td>
            <td class="{{ v.planned_date|yesno:'isoformat,' }}">{{ v.planned_date.isoformat|default:'---' }}</td>
            <td class="{{ v.release_date|yesno:'isoformat,' }}">{{ v.release_date.isoformat|default:'---' }}</td>
            <td>
                <span class="text-success"> {{ v.count_finish_tasks }}</span> /
                <span class="text-muted"> {{ v.count_reject_tasks }}</span> /
                <span class="text-danger"> {{ v.count_open_tasks }}</span> /
                <strong> {{ v.count_total_tasks }}</strong> /
                <span class="badge badge-secondary">{{ v.readiness }}%</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}libs/daterangepicker/3.0.5/daterangepicker.min.css">
{% endblock %}

{% block page_javascript %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}libs/daterangepicker/3.0.5/daterangepicker.min.js"></script>
{% newlineless_javascript %}
<script type="text/javascript">
var VERSIONS_URL = '{% url 'proplan:api:versions' %}', lang;


function openModal(name, data) {
    loadTemplate(name, data, function(html) {
        $('#modal').html(html).modal('show');
        $('#id_planned_date,#id_release_date')
            .attr('autocomplete', 'off')
            .daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY-MM-DD HH:mmZ',
                }
            })
            .on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD HH:mmZ'));
            });
    })
}


function openVersion(e) {
    var id = $(this).data('id'), tname = 'versions/modal';
    if (id) {
        $.getJSON(VERSIONS_URL + id + '/', function(data) {
            openModal(tname, {object: data});
        })
    }
    else {
        openModal(tname, {object: {}})
    }
    window.reloadData = function() {
        location.reload()
    };
}


function formSubmit(e) {
    var form = $('#modal form')[0],
        formData = new FormData(form),
        url = form.action;
    $.ajax({
        url: url,
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
            console.log(data);
            $('#modal').modal('hide');
            if (window.reloadData) {
                window.reloadData()
            }
        }
    });
    e.preventDefault()
}


$(document).ready(function($) {
    buildTemplates();
    lang = $('html').attr('lang');
    moment.updateLocale($('html').attr('lang'), {});
    $('.isoformat').each(function(i, item) {
        var $obj = $(item);
        $obj.text(moment($obj.text()).format('L LT')).removeClass('isoformat')
    });
    $('body')
        .on('click', '.open-version', openVersion)
        .on('click', '#modal button.apply', formSubmit)
        .on('submit', '#modal form', formSubmit)
    ;
})

</script>
{% endnewlineless_javascript %}
{% endblock %}
