/* Base styles for all pages */
body {
    font-size: .875rem;
}

a {
  color: #2f2775;
}

.w-0 {
    width: 0px;
    overflow-wrap: normal;
}

.btn-primary {
    background-color: #2f2775;
    border-color: #2f2775;
}

.text-strike {
    text-decoration: line-through;
}

.hide {
    display: none;
}

.child-active {
    &.active {
        .child-active-show {
            display: initial;
        }
        .child-active-hide {
            display: none;
        }
    }
    &:not(.active) {
        .child-active-show {
            display: none;
        }
        .child-active-hide {
            display: initial;
        }
    }
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #6c757d;
}

/* Исправление перекрытия навбаром, у него 1030. */
.dropdown-menu {
    z-index: 1050;
}

.page-item.active .page-link.bg-dark {
    border-color: #7f7f7f;
}
