/* Styles for pages: login, logout, signup */

body {
    &.login,
    .logout,
    .signup {
        background: #343a40;

        .card {
            background-color: #504C4C;
            border: 2px solid white;
            legend {
                display: block;
                background: white;
                &>* {
                    color: rgb(42, 74, 20);
                    font-size: 22px;
                }
            }
            form {
                label {
                    color: #fff;
                }
                input{
                    background: #fff;
                    border-radius: 0px;
                    border: none;
                    box-shadow: none;
                }
                .form-text {
                    color: #aaa;
                }
                ul.errorlist {
                    color: red;
                    background-color: rgba(255, 255, 255, .1);
                    border-color: rgba(255, 255, 255, .1);
                }
            }
        }
    }
    &.login {}
    &.logout {}
    &.signup {}
}
