/* Styles for sidebar inside all pages */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    @media (max-width: 1199px) {
        .fa {
            font-size: x-large;
            width: 100%;
        }
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #777;
    &:hover {
        color: #333;
    }
    &.active {
        color: #000;
        text-decoration: underline;
        .fa {
            text-shadow: 0 0 1rem rgba(0,0,0,0.5)!important;
        }
    }
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
